<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <img src="../static/images/horde_vs_ally.png" alt="">
    <div class='navbar'>
        <a href="/my_toons/{{session['user_id']}}">My Toons</a>
        <a href="">Upcoming Events</a>
        <a href="">Guild Roster</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>